{%extends 'user_base.html'%}

{%block con%}
<div class="right_content clearfix">
            <div class="info_con clearfix">

            <h3 class="common_title2">基本信息</h3>
                    <ul class="user_info_list">
                        <li><span>用户名：</span>{{uname}}</li>
                        <li><span>联系方式：</span>{{stel}}</li>
                        <li><span>联系地址：</span>{{ssite}}</li>
                    </ul>
            </div>

            <h3 class="common_title2">最近浏览</h3>
            <div class="has_view_list">
                <ul class="goods_type_list clearfix">

            {%if list.0 != '1'%}
                {%for g in list%}
                    <li>
                        <a href="../goods/{{g.id}}"><img src="/static/{{g.gpic}}/"></a>
                        <h4><a href="/user/detail.html">{{g.gtitle}}</a></h4>
                        <div class="operate">
                            <span class="prize">￥{{g.gprice}}</span>
                            <span class="unit">{{g.gprice}}/{{g.gunit}}</span>
                            <a href="#" class="add_goods" title="加入购物车"></a>
                        </div>
                    </li>
                {%endfor%}
            {%else%}
                    <li>你还没有浏览任何商品</li>
            {%endif%}

        </ul>
    </div>
    </div>

{%endblock con%}